@import 'nextra-theme-docs/style.css';
@import "tailwindcss";

@source inline('aspect-video');
@source inline('py-10');

@variant dark (&:where(.dark *));

@theme inline {
  --color-book-orange: #ff751f;
  --color-title-gray: #1c293a;
}