@import 'nextra-theme-docs/style.css';
@import "tailwindcss";
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@plugin '../hero.ts';

@source inline('aspect-video');
@source inline('py-10');

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-book-orange: #ff751f;
  --color-title-gray: #1c293a;
}